In [ ]:
#Task 1
class Marks:
  def __init__(self,mark):
    self.mark=mark

  def __add__(self,other):
    return Marks(self.mark + other.mark)

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 1
Quiz 2 (out of 10): 1
Lab (out of 30): 1
Mid (out of 20): 1
Final (out of 30): 1
Total marks: 5

In [ ]:
#Task 2
class Teacher:
  def __init__(self,name,dept):
    self.__name=name
    self.__dept=dept
    self.__l1=[]


  def addCourse(self,c):
    self.__l1.append(c.course)

  def printDetail(self):
    print('====================================')
    print(f'Name: {self.__name} \nDepartment:{self.__dept} \nList of courses')
    print('====================================')
    for i in self.__l1:
      print(i)
    print('====================================') 

class Course:
  def __init__(self,courses):
    self.course=courses

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department:CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department:CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department:CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
#Task 3
class Team:
  def __init__(self,name=None):
    self.country=name
    self.l1=[]
  
  def setName(self,country):
    self.country=country
  
  def addPlayer(self,secondclass_obj):
    self.l1.append(secondclass_obj.player)
  
  def printDetail(self):
    print('=====================')
    print(f'Team:{self.country}\nList of Players:{self.l1}')
    print('=====================')
class Player:
  def __init__(self,name):
    self.player=name

b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team:Bangladesh
List of Players:['Mashrafi', 'Tamim']
=====================
=====================
Team:Australia
List of Players:['Ponting', 'Lee']
=====================

In [ ]:
#Task 4
class Color:
  def __init__(self,clr):
    self.clr=clr
    self.clr1=''
  
  def __add__(self,other):
    self.clr1=self.clr+other.clr
    if self.clr1=='yellowred' or self.clr1=='redyellow':
      return Color('orange')
    elif self.clr1=='yellowblue' or self.clr1=='blueyellow':
      return Color('Green')
    elif self.clr1=='bluered' or self.clr1=='redblue':
      return Color('Violet')

C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: yellow
Second Color: red
Color formed: orange

In [ ]:
#Task 5
class Circle:
  def __init__(self,radius):
    self.radius=radius
    
  def getRadius(self):
    return self.radius
  
  def area(self):
    import math
    return (math.pi*self.radius**2)
  
  def __add__(self,other):
    return Circle(self.radius+other.radius)


c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
#TASK 6
class Triangle:
  def __init__(self,x,y=None):
    self.base=x
    self.height=y
  
  def getBase(self):
    return self.base
  
  def getHeight(self):
    return self.height

  def area(self):
    area = (self.base*self.height)/2
    return area

  def __sub__(self,other):
    x = self.base - other.base
    y = self.height - other.height
    return Triangle(x,y)

t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
#Task 7
class Dolls:
  def __init__(self,name,price):
    self.name=name
    self.price=price

  def __gt__(self,other):
    if self.price>other.price:
      return True
    else:
      return False
     
  def detail(self):
    return(f'Doll:{self.name} \nTotally: {self.price}')

  def __add__(self,other):
     x=self.name +' '+ other.name
     y=self.price + other.price
     return Dolls(x,y)

obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")

Doll:Tweety
Totally: 2500
Thank you!
=========================
Doll:Daffy Duck
Totally: 1800
Thank you!
=========================
Doll:Bugs Bunny
Totally: 3000
Congratulations! You get the Tweety as a gift!
=========================
Doll:Porky Pig
Totally: 1500
Thank you!
=========================
Doll:Daffy Duck Bugs Bunny
Totally: 4800
Congratulations! You get the Tweety as a gift!

In [ ]:
#Task 8
class Coordinates:
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def __sub__(self,other):
    x=self.x - other.x
    y=self.y - other.y
    return Coordinates(x,y)
  
  def detail(self):
    return f'({self.x},{self.y})'

  def __mul__(self,other):
    x = self.x*other.x
    y = self.y*other.y
    return Coordinates(x,y)
  
  def __eq__(self,other): 
    if self.x==other.x and self.y==other.y:
      return(f'The calculated coordinates are the same')
    else:
      return(f'The calculated coordinates are not the same')

p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)