In [ ]:
#TASK 1
class Student:
 def __init__(self, name='Just a student', dept='nothing'):
  self.__name = name
  self.__department = dept

 def set_department(self, dept):
  self.__department = dept

 def get_name(self):
  return self.__name

 def set_name(self,name):
  self.__name = name

 def __str__(self):
  return 'Name: '+self.__name+' Department: '+self.__department

class BBA_Student(Student):
  def __init__(self, name= 'Default', dept='BBA'):
    Student .__init__(self,name,dept)

print(BBA_Student())
print(BBA_Student('Humpty Dumpty'))
print(BBA_Student('Little Bo Peep'))

Name: Just a student Department: nothing
Name: Humpty Dumpty Department: nothing
Name: Little Bo Peep Department: nothing

In [ ]:
#TASK2
class Vehicle:
 def __init__(self):
  self.x = 0
  self.y = 0
 def moveUp(self):
  self.y+=1
 def moveDown(self):
  self.y-=1
 def moveRight(self):
  self.x+=1
 def moveLeft(self):
  self.x-=1
 def __str__(self):
  return '('+str(self.x)+' , '+str(self.y)+')'
#write your code here
class Vehicle2010(Vehicle):
  def __init__(self):
    Vehicle.__init__(self)

  def moveLowerLeft(self):
    self.moveDown()
    self.moveLeft()
  
  def LowerRight(self):
    self.moveRight()
    self.moveLeft()
  
  def UpperRight(self):
    self.moveUp()
    self.moveRight()
  
  def UpperLeft(self):
    self.moveLeft()
    self.moveUp()

  def equals(self,other):
    if self.x==other.x and self.y==other.y:
      return True
    else:
      return False

print('Part 1')
print('------')
car = Vehicle()
print(car)
car.moveUp()
print(car)
car.moveLeft()
print(car)
car.moveDown()
print(car)
car.moveRight()
print(car)
print('------')
print('Part 2')
print('------')
car1 = Vehicle2010()
print(car1)
car1.moveLowerLeft()
print(car1)
car2 = Vehicle2010()
car2.moveLeft()
print(car1.equals(car2))
car2.moveDown()
print(car1.equals(car2))

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True

In [ ]:
#Task3
class Tournament:
 def __init__(self,name='Default'):
  self.__name = name
 def set_name(self,name):
  self.__name = name
 def get_name(self):
  return self.__name
#write your code here

class Cricket_Tournament(Tournament):
  def __init__(self,name='Default',team=0,typee='No type'):
    
    self.team=team
    self.typee=typee
    Tournament.__init__(self,name)

  def detail(self):
    return f'Cricket Tournament:{Tournament.get_name(self)}\nNumber of Teams: {self.team}\nType:{self.typee}'
class Tennis_Tournament(Tournament):
  def __init__(self,name='Default',team=0):
    
    self.team=team
    Tournament.__init__(self,name)

  def detail(self):
    return f'Tennis Tournament:{Tournament.get_name(self)}\nNumber of Teams: {self.team}'

ct1 = Cricket_Tournament()
print(ct1.detail())
print("-----------------------")
ct2 = Cricket_Tournament("IPL",10,"t20")
print(ct2.detail())
print("-----------------------")
tt = Tennis_Tournament("Roland Garros",128)
print(tt.detail())

Cricket Tournament:Default
Number of Teams: 0
Type:No type
-----------------------
Cricket Tournament:IPL
Number of Teams: 10
Type:t20
-----------------------
Tennis Tournament:Roland Garros
Number of Teams: 128

In [ ]:
#TASK 4
class Product:
 def __init__(self,id, title, price):
  self.__id = id
  self.__title = title
  self.__price = price
 def get_id_title_price(self):
  return "ID: "+ str(self.__id) + " Title:" + self.__title + "Price: " + str(self.__price)
#write your code here
class Book(Product):
  def __init__(self,id,title,price,wt,publisher):
    self.wt=wt
    self.publisher=publisher
    Product.__init__(self,id,title, price)

  def printDetail(self):
    return f'{Product.get_id_title_price (self)}\nISBN: {self.wt} Publisher: {self.publisher}'


class CD(Product):
  def __init__(self,id,title,price,publisher,time,genre):
    self.publisher=publisher
    self.time=time
    self.genre='Hard Rock'
    Product.__init__(self,id, title, price)

  def printDetail(self):
    return f'{Product.get_id_title_price(self)}\nBand: {self.publisher} Duration: {self.time}minutes\nGenre: {self.genre}'

book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title:The AlchemistPrice: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title:ShottoPrice: 300
Band: Warfaze Duration: 50minutes
Genre: Hard Rock

In [ ]:
#Task 5
class Animal:
 def __init__(self,sound):
  self.__sound = sound

 def makeSound(self):
  return self.__sound

class Printer:
 def printSound(self, a):
  print(a.makeSound())
#write your code here

class Dog(Animal):
  def __init__(self,sound):
    Animal.__init__(self,sound)

#class Cat(Animal):
  #def __init__(self,sound):
   # Animal.__init__(self,sound)
class Cat(Dog):
  def __init__(self,sound):
    Animal.__init__(self,sound)

d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

Animal does not make sound
meow
bark

In [ ]:
#TASK 6
class Shape:
 def __init__(self, name='Default', height=0, base=0):
  self.area = 0
  self.name = name
  self.height = height
  self.base = base
 def get_height_base(self):
  return "Height: "+str(self.height)+",Base: "+str(self.base)

class triangle(Shape):
  def __init__(self,name='Default',height=0,base=0):
    
    Shape.__init__(self,name,height,base)

  def calcArea(self):
    self.area=self.height*self.base*(1/2)
  
  def printDetail(self):
    return(f'Shape Name: {self.name}\n{Shape.get_height_base(self)}\nArea: {self.area}')
    
class trapezoid(Shape):
  def __init__(self,name,height,base,side_A):
    self.side_A=side_A
    Shape.__init__(self,name,height,base)

  def calcArea(self):
    self.area=self.height*(self.side_A+self.base)*(1/2)
  
  def printDetail(self):
    return(f'Shape Name: {self.name}\n{Shape.get_height_base(self)} Side_A: {self.side_A}\nArea: {self.area}')

#write your code here
tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape Name: Default
Height: 0,Base: 0
Area: 0.0
--------------------------
Shape Name: Triangle
Height: 10,Base: 5
Area: 25.0
---------------------------
Shape Name: Trapezoid
Height: 10,Base: 6 Side_A: 4
Area: 50.0

In [ ]:
class Football:
 def __init__(self, team_name, name, role):
  self.__team = team_name
  self.__name = name
  self.role = role
  self.earning_per_match = 0
 def get_name_team(self):
   return 'Name: '+self.__name+', Team Name: ' +self.__team

class Player(Football):
  def __init__(self,team_name,name,role,goal,win=None):
    super().__init__(team_name,name,role)
    self.goal=goal
    self.win=win
    if self.role!='Manager':
      self.earning_per_match=(self.goal*1000) + (self.win*10)
    else:
      self.earning_per_match=(self.goal*1000)


  def calculate_ratio(self):
    self.ratio=self.goal/self.win
  
  def print_details(self):
    if self.role!='Manager':
      print(Football.get_name_team(self))
      print(f'Team Role: {self.role}\nTotal goal: {self.goal}, Total played: {self.win}')
      print('Goal Ratio:' , self.ratio)
      print('Match Earning:', self.earning_per_match,'k')
    else:
      print(Football.get_name_team(self))
      print(f'Team Role: {self.role}\nTotal Win: {self.goal}')
      print('Match Earning:',self.earning_per_match,'k')

class Manager(Player):
  def __init__(self,team_name,name,role,goal):
    super().__init__(team_name,name,role,goal)
    self.goal=goal

#write your code here
player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus
Team Role: Striker
Total goal: 25, Total played: 32
Goal Ratio: 0.78125
Match Earning: 25320 k
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team Role: Manager
Total Win: 25
Match Earning: 25000 k

In [ ]:
class Foodchai:
  total_orders=0
  total_price=0
  items=[]
  def __init__(self,*args):
    self.name=args[0]
    self.number=args[1]
    self.location=args[2]
    self.price=0
    Foodchai.items.append(self.location)
    print('A new location has been added')
    Foodchai.total_orders+=1

  @classmethod
  def createUser(cls,str1,location):
    cls.list2=str1.split('-')
    cls.name=cls.list2[0]
    cls.number=cls.list2[1]
    cls.location=location
    if cls.location not in Foodchai.items:
      Foodchai.items.append(cls.location)
      return('Sorry, Location not found. List Updated.')
    else:
      return Foodchai(cls.name,cls.number,cls.location)
    
  def add_Items(self,*args):
    self.food_list=[]
    
    for i in args:
      self.food_list=i.split('-')
      self.price+=int(self.food_list[1])
    
  def printOrderDetail(self):
    print(f'Buyer\'s name:{self.name}\nMobile no:{self.number}\nLocation:{self.location}\nTotal Ordered price: {self.price}')
    Foodchai.total_price+=self.price 
  
  @classmethod  
  def apply_vat(cls,info):
    info=((0.1*Foodchai.total_price)+Foodchai.total_price)
    return f'Total order amount including 10% vat:{info}'



print('Total orders=',Foodchai.total_orders)
user1=Foodchai('Shakib','01719658xxx','Mohakhali')
print('0============================')
user1.add_Items('Burger-450','Coca Cola-40')
print(Foodchai.createUser('Zahid-01719659xxx','Uttara'))
user2=Foodchai.createUser('Zahid-01719659xxx','Uttara')
user2.add_Items('Pizza-800')
user3=Foodchai('Fatema','01719655xxx','Mohammadpur')
user3.add_Items('Chicken Wings-300')
print('1============================')
user1.printOrderDetail()
print('2============================')
user2.printOrderDetail()
print('3============================')
user3.printOrderDetail()
print('4============================')
print(Foodchai.apply_vat(Foodchai.total_price))
print('5============================')
print('Total orders=',Foodchai.total_orders)

Total orders= 0
A new location has been added
0============================
Sorry, Location not found. List Updated.
A new location has been added
A new location has been added
1============================
Buyer's name:Shakib
Mobile no:01719658xxx
Location:Mohakhali
Total Ordered price: 490
2============================
Buyer's name:Zahid
Mobile no:01719659xxx
Location:Uttara
Total Ordered price: 800
3============================
Buyer's name:Fatema
Mobile no:01719655xxx
Location:Mohammadpur
Total Ordered price: 300
4============================
Total order amount including 10% vat:1749.0
5============================
Total orders= 3

In [ ]:
#TASK 4
class Product:
 def __init__(self,id, title, price):
  self.__id = id
  self.__title = title
  self.__price = price
 def get_id_title_price(self):
  return "ID: "+str(self.__id)+" Title:"+self.__title+"Price: "+str(self.__price)
#write your code here
class Book(Product):
  def __init__(self,id,title,price,wt,publisher):
    self.wt=wt
    self.publisher=publisher
    Product.__init__(self,id,title,price)

  def printDetail(self):
    return f'{Product.get_id_title_price(self)}\nISBN: {self.wt} Publisher: {self.publisher}'


class CD(Product):
  def __init__(self,id,title,price,publisher,time,genre):
    self.id=id
    self.title=title
    self.price=price
    self.publisher=publisher
    self.time=time
    self.genre='Hard Rock'
    Product.__init__(self,id, title, price)

  def printDetail(self):
    return f'ID: {self.id} Title: {self.title} Price: {self.price}\nBand: {self.publisher} Duration: {self.time}minutes\nGenre: {self.genre}'

book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title:The AlchemistPrice: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title: Shotto Price: 300
Band: Warfaze Duration: 50minutes
Genre: Hard Rock