In [14]:
d=['a','v','x','r','ada']
print(d)

['a', 'v', 'r', 'ada']

In [1]:
#Task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [2]:
#task2
tup=(10, 20, 24, 25, 26, 35, 70)
print(tup[2:(len(tup)-2)])

(24, 25, 26)

In [8]:
#task3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(len(book_info))
for hoyo in book_info:
    print(hoyo)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [22]:
#Task4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
w,x,y,z=book_info
#a,b,c=book_info[1]
#m,n,s=book_info[2]
#s,r,t=book_info[3]
print(w[0],'won the',"'"+w[1]+"'","category with",w[2])
print(x[0],'won the',"'"+x[1]+"'",'category with',x[2])
print(y[0],'won the',"'"+y[1]+"'",'category with',y[2])
print(z[0],'won the',"'"+z[1]+"'",'category with',z[2])

Best Mystery & Thriller won the 'The Silent Patient' category with 68821
Best Horror won the 'The Institute' category with 75717
Best History & Biography won the 'The five' category with 31783
Best Fiction won the 'The Testaments' category with 98291

In [6]:
#Task5
Given_tuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
n=int(input('Enter the number :'))
print(Given_tuple.count(n))

Enter the number :8
4

In [25]:
#Task6
Given_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
l1=list(Given_tuple)
l1.reverse()
#g1=tuple(l1)
print(tuple(l1))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [19]:
#Task7
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d1.update(d2)
print(d1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [23]:
#task8
dic1={}
l=[]
k=[]
n=int(input('How many:'))
for i in range(n):
    m=input("Enter keys:")
    j=int(input("Enter values(Integer):"))
    l.append(m)
    k.append(j)
c=0
for i in l:
    dic1[i]=k[c]
    c+=1
print(dic1)
q=0
n=0
for i in k:
    q+=i
    n+=1
print('Average:',(q/n))

How many:2
Enter keys:jonas
Enter values(Integer):21
Enter keys:margarret
Enter values(Integer):19
{'jonas': 21, 'margarret': 19}
Average: 20.0

In [53]:
#task9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
n=int(input('Enter The Number:'))
dic1={}
for i,j in exam_marks.items():
    if j>=n:
        dic1[i]=j
    else:
        continue
print(dic1)

Enter The Number:170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [1]:
dic1={'ada':'dad','dad':123,143:'sad'}
#print(dic1['ada'])
#assigning value
#dic1['asd']={'name':'rafi','age':21}
#v={'name':'Rafi'}
#dic1.update(v)
#dic1.update({'name':'Rafi','age':21})
#print(dic1.values())
#print(dic1.items())
#print(dic1.keys())
#print(dic1)

In [10]:
#Task10
p={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=0
for i in p.values():
    if i > max:
        max=i
for j in p.keys():
    k=p.get(j)
    if k==max:
        print('The highest selling book genre is',"'"+j+"'",'and the number of books sold are',str(max),'.')

The highest selling book genre is 'mystery' and the number of books sold are 15 .

In [3]:
#task11
k=input()
k=k.lower()
k=k.replace(" ","")
Dic1 = {}
for i in k:
    if i not in Dic1:
        Dic1.update({i:1})
    elif i in Dic1:
        Dic1[i] += 1
print(Dic1)

THE   SUN IS RED
{'t': 1, 'h': 1, 'e': 2, 's': 2, 'u': 1, 'n': 1, 'i': 1, 'r': 1, 'd': 1}

In [23]:
#task 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
k=dict_1.values()
j=0
l=[]
for i in k:
    list(i)
    l+=list(i)
for i in l:
    j+=1
print(j)
#dict1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
#c = 0
#for a in dict1:
   # for b in dict1[a]:
     #   c += 1
#print(c)

9

In [25]:
#Task 13
list1=[("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
for item in list1:
    if item[0] not in dict1:
        dict1[item[0]]=[item[1]]
    else:
        dict1[item[0]].append(item[1])
print(dict1)
#if append only adds with value
#append works for dictionary

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}